.PanelButton {
  height: 32px;
  min-width: 32px;
  cursor: pointer;
  border: 1px solid #9ca3af;
  border-radius: 6px;
  background-color: #fff;

  &_icon {
    width: 32px;
  }

  &_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
  }
}
