.SchemaElements {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 115px;
  row-gap: 6px;

  &_header {
    text-align: start;
    display: inline-block;
  }

  &_icons {
    margin-top: 6px;
    column-gap: 6px;

    svg {
      cursor: pointer;
    }

    &Wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 40px;
      border: 1px solid #d1d5db;
      border-radius: 6px;
    }
  }
}
