.CanvasPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #e5e7eb;

  &_leftSide {
    display: flex;
    align-items: center;
  }

  &_rightSide {
    display: flex;
    align-items: center;
  }
}

.backgroundBlue {
  fill: #3076c5;
}
